<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body class="body root__body">
  <%- include('header') %>
  <main class="main">
    <div class="body__container">
      <div class="main__container">
        <% if (locals.messages) { %>
        <%- include('messages', {messages}) %>
        <% } else if (locals.message) { %>
        <%- include('message', {message}) %>
        <% } else if (locals.error) { %>
        <%- include('error', {error}) %>
        <% } else  { %>
        <%- include('form') %>
        <% } %>
      </div>
    </div>
  </main>
</body>

</html>